@page "/anchor-tag"
<h1 id="headerOne">Header One</h1>
<a href="anchor-tag/#headerTwo">Jump to Header Two</a>
<div style="height:200px; width: 200px; background: blue; color: white;">Div to create space.</div>
<div style="height:200px; width: 200px; background: blue; color: white;">Div to create space.</div>
<div style="height:200px; width: 200px; background: blue; color: white;">Div to create space.</div>
<div style="height:200px; width: 200px; background: blue; color: white;">Div to create space.</div>
<div style="height:200px; width: 200px; background: blue; color: white;">Div to create space.</div>
<div style="height:200px; width: 200px; background: blue; color: white;">Div to create space.</div>
<div style="height:200px; width: 200px; background: blue; color: white;">Div to create space.</div>
<div style="height:200px; width: 200px; background: blue; color: white;">Div to create space.</div>
<div style="height:200px; width: 200px; background: blue; color: white;">Div to create space.</div>
<div style="height:200px; width: 200px; background: blue; color: white;">Div to create space.</div>
<div style="height:200px; width: 200px; background: blue; color: white;">Div to create space.</div>
<div style="height:200px; width: 200px; background: blue; color: white;">Div to create space.</div>
<div style="height:200px; width: 200px; background: blue; color: white;">Div to create space.</div>
<div style="height:200px; width: 200px; background: blue; color: white;">Div to create space.</div>
<div style="height:200px; width: 200px; background: blue; color: white;">Div to create space.</div>
<div style="height:200px; width: 200px; background: blue; color: white;">Div to create space.</div>
<div style="height:200px; width: 200px; background: blue; color: white;">Div to create space.</div>
<div style="height:200px; width: 200px; background: blue; color: white;">Div to create space.</div>
<div style="height:200px; width: 200px; background: blue; color: white;">Div to create space.</div>
<h1 id="headerTwo">Header Two</h1>
<a href="anchor-tag/#headerOne">Jump to Header One</a>

@code {

}
